<%= form_with(model: like) do |form| %>
  <% if like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(like.errors.count, "error") %> prohibited this like from being saved:</h2>
      <ul>
        <% like.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :is_like %>
    <%= form.check_box :is_like %>
  </div>
  <% if like&.id %>
    <div class="field">
      <strong>Post:</strong>
      <%= link_to post_path(like.post), class: 'hvr-bob' do %><%= like.post.title %><% end %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<hr>
