<% content_for :title, 'Likes' %>
<div class="jumbotron p-1">
  <h1 class="hvr-grow">Likes</h1>
  <% if current_user&.id %>
    <h6>
      <form><input type="hidden" name="user_filter" value="<%= @user_param ? nil : current_user.id %>"><button type="submit" class="btn btn-sm  btn-info"><%=@user_param ? 'All' : 'My Likes' %></button></form>
    </h6>
  <% end %>
</div>
<% if can? :read, @like %>
  <div class="container mt-4 mb-5">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <table class="table table-hover table-striped  <%= @dark_mode ? 'table-dark ' :  '' %>">
          <thead class="thead-dark">
            <tr>
              <th>Is Like</th>
              <th>User</th>
              <th>Post</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @likes.each do |like| %>
              <tr>
                <td><%= like.is_like %></td>
                <td>By: <%= like.user.email %></td>
                <td><%= link_to post_path(like.post), class: 'hvr-bob' do %><%= like.post.title %><% end %></td>
                <td><%= link_to 'Show', like, class: "btn btn-sm btn-warning" if can? :read, like %></td>
                <td><%= link_to 'Edit', edit_like_path(like), class: "btn btn-sm btn-success" if can? :update, like %></td>
                <td><%= link_to 'Destroy', like, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if can? :update, like %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <%= paginate @likes, window: 2 if @likes.any? %>
    </div>
  </div>
<% end %>
