<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :body, rows: 8 %>
    <%= form.hidden_field :post_id, value: post.id %>
  </div>
  <hr>
  <% if current_user&.email %>
    <div class="field border border-secondary shadow rounded mr-3 ml-3">
      By: <%= current_user.email %>
    </div>
  <% end %>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
