<% content_for :title, 'Posts' %>
<div class="jumbotron p-1">
  <h1 class="hvr-grow">Posts</h1>
  <% if current_user&.id %>
    <h6>
      <form><input type="hidden" name="user_filter" value="<%= @user_param ? nil : current_user.id %>"><button type="submit" class="btn btn-sm btn-info"><%=@user_param ? 'All' : 'My Posts' %></button></form>
    </h6>
  <% end %>
</div>
<% if can? :read, @posts %>
  <div class="container mt-4 mb-5">
    <div class="row justify-content-center text-center">
      <%= link_to 'New Post', new_post_path, class: "btn btn-primary" if can? :create, Post %>
    </div>
    <hr />
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <table class="table table-hover table-striped  <%= @dark_mode ? 'table-dark ' :  '' %>">
          <thead class="thead-dark">
            <tr>
              <th>Title</th>
              <th>User</th>
              <th>Date</th>
              <th>Comments</th>
              <th>Likes</th>
              <th>DisLikes</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td>By: <%= link_to user_path(post.user), class: 'hvr-glow' do %><%= post.user.email %><% end %></td>
                <td><%= post.created_at.strftime("%m/%d/%Y At %I:%M:%S %p") %></td>
                <td><%= post.comments.size %></td>
                <td><%= post.likes.is_likes.size %></td>
                <td><%= post.likes.is_dislikes.size %></td>
                <td><%= link_to 'Show', post, class: "btn btn-sm btn-warning" if can? :read, post %></td>
                <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-success" if can? :update, post %></td>
                <td><%= link_to 'Destroy', post, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, post %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center text-center">
      <%= paginate @posts, window: 2 if @posts.any? %>
    </div>
  </div>
<% end %>
