<% content_for :title, 'Post' %>
<div class="jumbotron p-1">
  <h1 class="hvr-grow">Post</h1>
</div>
<div class="container mt-4 mb-5">
  <div class="row justify-content-center text-center">
    <div class="col-6 m-1  border rounded shadow p-1 pt-3">
      <h2 class="mb-4">
        <strong>Title:</strong>
        <%= @post.title %>
      </h2>
      <p>
        <strong>Body:</strong>
        <%= @post.body %>
      </p>
      <p>
        <strong>User:</strong>
        By: <%= @post.user.email %>
      </p>
      <p>
        <strong>Comments:</strong>
        <%= @post.comments.size %>
      </p>
      <p>
        <strong>Likes:</strong>
        <%= @post.likes.is_likes.size %>
      </p>
      <p>
        <strong>DisLikes:</strong>
        <%= @post.likes.is_dislikes.size %>
      </p>
    </div>
    <div class="col-5 m-1 border rounded shadow p-1 pt-3">
      <h3 class="mb-3">Comments:</h3>
      <div>
        <table class="table table-sm table-hover table-striped  <%= @dark_mode ? 'table-dark ' :  '' %>">
          <thead class="thead-dark">
            <tr>
              <th>Body</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <% @post.comments.each do |comment| %>
              <tr>
                <td><%= comment.body %></td>
                <td>By: <%= comment.user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center text-center">
    <%= link_to 'Edit', edit_post_path(@post) if can? :update, @post %> |
    <%= link_to 'Back', posts_path %>
  </div>
</div>
